<div class="container">
  <div class="header">
    <div class="brand-search">
      <div class="brand">CatHub</div>
      <div class="search-container">
        <form>
          <input id="search" placeholder="Search or type a command"></input>
          <span id="search-help"></span>
        </form>
        <div id="search-settings"></div>
      </div>
    </div>
    <div class="nav-container">
      <ul class="nav">
        <li class="nav-button"><a href="#">Explore</a></li>
        <li class="nav-button"><a href="#">Features</a></li>
        <li class="nav-button"><a href="#">Blog</a></li>
        <li class="nav-button active"><a href="#">Sign In</a></li>
      </ul>
    </div>
  </div>


  <div class="main-container">
    <div class="intro">
      <h1>We're like GitHub...for kitties.</h1>
      <h2>Powerful collaboration, review, and code management for cats and private cat projects.</h2>
    </div>
    <div class="signup-container">
      <form>
        <input class="signup-form" id="username" placeholder="Pick a username"></input><br>
        <input class="signup-form" id="email" placeholder="Your email"></input><br>
        <input class="signup-form" id="create-password" placeholder="Create a password"></input><br>
        <div class="form-tip"><p>Tip: use at least one number and at least 7 characters. You're a kitty!</p></div>
        <div class="signup-fineprint">
          <p>By clicking on "Sign up for free" below, you meowgree to the <a href="#">Terms of Service</a> and the <a href="#">Feline Privacy Policy</a>.</p>
        </div>
        <button id="btn-sign-up" name="button">Sign up for free</button>
        <div id="plans-pricing"><a href="#">See plans and pricing</a></div>
      </form>
    </div>
  </div>

  <div class="subheading">
    <div class="teaser-container">
      <div class="teaser">
        <img class="subheading-image" src="http://placekitten.com/225/100"></img>
        <p>Review changes, bat at lines of code, pounce on issues, and plan the future of your project with <a href="#">flexible discussion tools.</a></p>
      </div>
      <div class="teaser">
        <img class="subheading-image" src="http://placekitten.com/225/100"></img>
        <p>Native clients for <a href="#">Mac</a>, <a href="#">Windows</a>, and <a href="#">mobile</a> devices allow you to hunt dust particles from anywhere.</p>
      </div>
      <div class="teaser">
        <img class="subheading-image" src="http://placekitten.com/225/100"></img>
        <p>Share your code with the world and contribute to <a href="#">the millions of public repositories</a> hosted on CatHub.</p>
      </div>
    </div>
    <div class="upsell">
      <img class="lock-icon" src="http://placekitten.com/25/35"</img>
      <p>Collaborate on private scratching posts when you <a href="#">sign up for a paid individual or organization plan.</a></p>
    </div>
  </div>
  <div class="sitemap-container">
    <div class="sitemap-col">
      <h3>CatHub</h3>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact &amp; support</a></li>
        <li><a href="#">CatHub Enterprise</a></li>
        <li><a href="#">Site status</a></li>
      </ul>
    </div>
    <div class="sitemap-col">
      <h3>Applications</h3>
      <ul>
        <li><a href="#">CatHub for Mac</a></li>
        <li><a href="#">CatHub for Windows</a></li>
        <li><a href="#">CatHub for Eclipse</a></li>
        <li><a href="#">CatHub mobile apps</a></li>
      </ul>
    </div>
    <div class="sitemap-col">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Gauges: Web analytics</a></li>
        <li><a href="#">Speaker Deck: Presentations</a></li>
        <li><a href="#">Gist: Code snippets</a></li>
        <li><a href="#">CatHub Enterprise</a></li>
        <li><a href="#">Job board</a></li>
      </ul>
    </div>
    <div class="sitemap-col">
      <h3>Documentation</h3>
      <ul>
        <li><a href="#">CatHub Help</a></li>
        <li><a href="#">Developer API</a></li>
        <li><a href="#">CatHub Flavored Markdown</a></li>
        <li><a href="#">CatHub Pages</a></li>
      </ul>
    </div>
    <div class="sitemap-col">
      <h3>More</h3>
      <ul>
        <li><a href="#">Training</a></li>
        <li><a href="#">Students &amp; teachers</a></li>
        <li><a href="#">The Shop</a></li>
        <li><a href="#">Plans &amp; pricing</a></li>
        <li><a href="#">The Octodex</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-col footer-left">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy</a>
      <a href="#">Security</a>
    </div>
    <img clas="footer-col footer-center" src="http://placekitten.com/25/25"></img>
    <div class="footer-col footer-right">
      <p>&copy; 2013 CatHub, Inc. All rights reserved.</p>
    </div>
  </div>
</div>
</div>
