div.container {
  font-family: sans-serif;
  width: 960px;

  div.header {
    overflow: hidden;
    height: 70px;
    div.brand-search {
      padding: 20px;
      width: 350px;
      float: left;
      div.brand {
        font-weight: bold;
        font-size: 32px;
        display: inline-block;
        margin-right: 10px;
      }
      div.search-container {
        display: inline-block;
        input#search {
          width: 200px;
          height: 24px;
          border-radius: 3px;
          border: 1px solid lightgray;
        }
      }
    }
  div.nav-container {
    display: inline-block;
    height: 60px;
    padding-bottom: 10px;    
    padding-top: 10px;
    float: right;
    ul.nav li {
      padding: 10px;
      list-style: none;
      display: inline-block;
      &.active {
        // background: hsl(0, 0%, 92%);
        background: linear-gradient(to bottom, hsl(0, 0, 98%), hsl(0, 0%, 92%));
        border: 1px solid hsl(0, 0%, 87%); 
        border-radius: 3px;
      }
      a {
        font-weight: bold;
        text-decoration: none;
        color: hsl(0, 0, 30%);
        &:hover {
          color: hsl(210, 53%, 57%);
        }
      }
    }
  }
}

  div.main-container {
    height: 500px;
    background: hsl(0, 0%, 98%);
    border-top: 1px solid hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(0, 0%, 90%);
    overflow: auto;
    div.intro {
      width: 500px;
      float:left;
      display: inline-block;
      padding-top: 50px;
      padding-left: 50px;

      h1 {
        font-size: 70px;
        line-height: 70px;
      }
      h2 {
        font-size: 21px;
        line-height: 1.5;
        color: #888;
        font-weight: 40;
      }
    }
  }

  div.signup-container {
    width: 300px;
    float:right; 
    display: inline-block;
    padding-top: 50px;
    input.signup-form {
      vertical-align: middle;
      height: 200%;
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:15px;
      text-align: left;
     width:250px;
     border-radius: 5px;
      border: 1px solid lightgray;
      font-size: 125%;
    }
    .form-tip p {
      color: gray;
      padding-top: 5px;
    }
    .signup-fineprint {color: #606570;}
  }

#plans-pricing {padding-left: 50px;}
#btn-sign-up {
  width:250px;
  height: 50px;
  border-radius: 10px;
  background-color: #76C759;
  border: 1px solid lightgray;
  color: white;
  font-size: 120%;
  font-style: bold;
}
  div.teaser-container {
    display: -webkit-flex;
    display: flex;
    img{padding-left: 50px;}
  }

  div.teaser {
    flex: 1;
    padding-right: 20px;
    p {    text-align: center;}
  }

 img.subheading-image {height: 250px; padding-top: 50px;}

  div.upsell p {
    display: inline-block;

  }
div.upsell{
  padding:30px 30px 30px 30px;
  margin-top: 20px;
    margin-bottom: 20px;
  background-color:#F0F8EF;
  font-size: 135%;
  img {padding-left: 20px;}
}
  div.sitemap-container {
    display: -webkit-flex;
    display: flex;
    ul {
      list-style:none;
      margin-left: 0px;

    }
  }

  div.sitemap-col {
    flex: 1;
    padding-right: 35px;
  }

  div.footer-container {
    display: -webkit-flex;
    display: flex;
    .footer-left{
      margin-right: 200px;
    }
    .footer-middle{
      margin-right: 50px;
    }
        .footer-right{
      margin-left: 200px;
    }

}
  div.footer-col {
    flex: 1;
        }
 

}

